@use "sass:math";

.c-header__logo {
  border: math.div($global-unit-size-tiny, 2) solid $color-white;
  border-radius: $global-unit-size-tiny;
  padding: $global-unit-size-tiny $global-unit-size-small;
}
