@use "sass:math";

.c-header__logo {
  border: math.div($global-unit-size-tiny, 2) solid #000000;
  border-radius: $global-unit-size-tiny;
  padding: math.div($global-unit-size-tiny, 2) $global-unit-size-small;
}
